.example-icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}

div {
  overflow: inherit;
}

.mat-sidenav-container{
//background-color: lightskyblue;
min-height: 25vh !important;
//scroll-behavior: auto;
}

a{
  text-decoration: none;
  // font-size: 110%;
  white-space: normal;
}

button{
  min-width: min-content;
}


.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar{
  background: #004666;
  margin-bottom: 1rem;
  cursor: pointer !important; 
}

.mat-toolbar a{
  color: hsla(0, 0, 100%, 0.9);
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  font-weight: normal;
  font-size: 1rem;
}

.nav-logo{
  width: 13rem;
  padding-top: 0.5rem;
}

.mat-toolbar-row, .mat-toolbar-single-row{
  height: auto;
}

.nav-person-link{
  display: inline-flex !important;
  vertical-align: middle !important;
}

.nav-person-icon{
  line-height: 1.5;
}

.innerToolBar a.active {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.9);
}
